[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/augeas"]
	path = modules/augeas
	url = https://github.com/camptocamp/puppet-augeas
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core
[submodule "modules/augeasproviders_postgresql"]
	path = modules/augeasproviders_postgresql
	url = https://github.com/hercules-team/augeasproviders_postgresql
[submodule "modules/augeasproviders_ssh"]
	path = modules/augeasproviders_ssh
	url = https://github.com/hercules-team/augeasproviders_ssh
[submodule "modules/augeasproviders_sysctl"]
	path = modules/augeasproviders_sysctl
	url = https://github.com/hercules-team/augeasproviders_sysctl
[submodule "modules/ceph"]
	path = modules/ceph
	url = https://github.com/openstack/puppet-ceph
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/corosync"]
	path = modules/corosync
	url = https://github.com/puppetlabs/puppetlabs-corosync
[submodule "modules/dnsclient"]
	path = modules/dnsclient
	url = https://github.com/ghoneycutt/puppet-module-dnsclient
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/haproxy"]
	path = modules/haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
[submodule "modules/lvm"]
	path = modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm
[submodule "modules/network"]
	path = modules/network
	url = https://github.com/example42/puppet-network
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/stdmod"]
	path = modules/stdmod
	url = https://github.com/stdmod/stdmod
